/* Variables */
/* Fuentes */
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

$main-font: 'Muli', sans-serif;

/* Colores */
$black: #333131;
$aqua: #6acc95;
$white: #fcfcfc;